@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap');

:root {
  --black: #101010;
  --white: #fff;
  --blue: #4134ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  margin-top: 20px;
}

.navbar-brand {
  font-weight: 700;
  margin-left: 30px;
}

.nav-link,
.nav-link:active,
.nav-link:focus {
  color: var(--black);
  cursor: pointer;
}

.nav-link:hover {
  transition: all 0.5s;
  font-weight: 500;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}

.intro-main_container {
  margin: 30px auto 20px auto;
  padding: 20px 10px;
}

.intro-main_text {
  font-weight: 700;
  font-size: 2rem;
  margin: 30px auto;
}

.intro-main_btn {
  display: flex;
  align-items: center;
}

.play-border {
  border: 1px solid var(--blue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-border a .icon {
  font-size: 35px;
  margin: 0 auto;
  color: var(--blue);
  justify-content: center;
  align-items: center;
}

#offer-link {
  padding: 1px 4px;
  color: var(--blue);
}

#offer-link:hover {
  border-bottom: 1px solid var(--blue);
  font-weight: 500;
  transition: all 0.3s;
}

.intro-info {
  background: var(--black);
  color: var(--white);
  padding: 20px 10px;
}
.intro-info_header {
  text-align: center;
}

.accordion {
  margin: 0 10px 30px 10px;
}

.accordion-item {
  background: var(--black);
  color: var(--white);
}

.accordion-button {
  background: var(--black);
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.accordion-button:focus,
.accordion-button:active,
.accordion-button:hover {
  background: var(--black);
  border: none;
  border-bottom: 1px solid var(--white);
}

.section-2 {
  padding: 20px;
}

.left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

.main-icon {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.main-icon img {
  width: 100%;
  height: 100%;
}

.icon-text {
  width: 250px;
  padding: 0;
  text-align: left;
}

.right {
  display: flex;
}

.main-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron-wrapper {
  width: 100%;
  background: red;
}

.jumbotron-wrapper {
  width: 100%;
  height: 200px;
  background-image: url(../../assets/images/house_1-cropped.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-3,
.section-2 {
  margin: 50px auto;
}

.section-3{
  margin-bottom: 20px;
}

.section-3_left p a {
  color: var(--blue);
}

.section-3-right_header {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.house-info{
  margin: 20px 0;
}

.house-info_header{
  font-size: 3rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.house-info_header span{
  font-weight: lighter;
}

.location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 20px;
}

.house-info_right{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.house-info_right h2{
  font-weight: bold;
}

.description-text{
  display: flex;
  flex-wrap: wrap;
}

.workspace, .access, .gate, .energy{
  width: 150px;
  margin: 10px 7px;
}

@media (max-width: 375px) {
  nav {
    justify-content: space-around;
  }
}

@media (max-width : 767px){
  .section-3_left {
    display: none;
}
}
@media (min-width: 768px) {
  .nav {
    margin-right: auto;
  }

  .nav-link {
    margin-left: 30px;
  }

  .intro-main_text {
    font-size: 4rem;
  }
  
  .description-text{
    padding: 0 100px;
    justify-content: center;
  }
}
